:root {
    --principal-color: #5b9bd4;
    --btn-color: #a7a7a7;
}
body {
    width: 100vw;
    height: 99vh;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header {
    background-color: var(--principal-color);
    height: 13%;
    border-bottom: 1px solid black;
}
#navbar {
    display: flex;
    flex-direction: column;
    background-color: var(--principal-color);
    height: 80%;
    width: 30%;
    border-right: 1px solid black;
}
.menuBtn {
    text-decoration: none;
    color: white;
    background-color: var(--btn-color);
    width: 150px;
    /*height: 40px;*/
    padding: 15px;
    margin: auto;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    box-shadow: 3px 3px black;
}
.menuBtn:hover{
    box-shadow: 3px 3px 2px 2px black;
}
footer {
    background-color: var(--principal-color);
    height: 7%;
    border-top: 1px solid black;
}